body {
  background-color: white;
  
}

li {
  font-size: 17px;
  font-family: Malgun Gothic;
  padding-left: 30px;
  color: green;
}

.header {
  color: blue;
  font-size: 21px;
  font-family: Arial;
  border: 5px solid black;
  padding-left: 15px;
}

.skills {
  border: 5px solid black;
}

.education {
  border: 5px solid black;
}

.experience {
  border: 5px solid black;
}

.honors {
  border: 5px solid black;
}

h3 {
  padding-left: 20px;
}

.references {
  color: blue;
  font-family: Sylfaen;
  font-size: 15px;
}
